.other-side-panel {
  position: absolute;
  top: 8px;
  left: 0;

  box-sizing: border-box;
  width: 100%;
  height: calc(100% - 8px);
  padding: 12px;

  transition: opacity 0.5s ease-in-out;
  border-right: 2px solid rgba(68, 68, 68, 0.16);

  &--hidden {
    pointer-events: none;
    opacity: 0;
  }
}